<html>
    <title> Programming Exercise </title>
    <body>
        <div>
            
            <div class="orangeCont">
            </div>
            
            <div>
                <div class="redCont">
                </div>
                <div class="skyCont">
                </div>
                <div class="blackCont">
                </div>
                <div class="purpleCont">
                </div>
            </div>
                <div class="greenCont">
            </div>
            
            <div class="yellowCont">
            </div>
            
            <div>
                <div class="greyCont">
                </div>
                <div class="pinkCont">
                </div>
            </div>
            
             <div class="overlay">
                <h3> This is a headline that will not wrap</h3>
                <br>
                <p> Lorem ipsum dolor sit amet, bla bla bla </p>
            </div>
            
        </div>  
    </body>
    <link rel="stylesheet" href="/dist/css/style.min.css">
</html>